body
{
  background-color: #cea67e;
}

main
{
  margin: 50px 250px;
  padding: 70px;
  text-align: justify;
  background-color: #f2e1d0;
  border-radius: 20px;
}

h1 ,h2
{
  font-family: fantasy;
  text-align: center;
}

main img
{
  width: 100%;
}
.narrador
{
  font-style: italic;
  color: #6a6a62;
  font-size: 18px;
}
.negrita
{
  font-weight: bold;
}
.MAGO, .mago
{
  color: #0000ff;
}

.caballero, .CABALLERO
{
  color: #613000;
}
.cazador, .CAZADOR
{
  color: #336600;
}
.ORCO, .orco
{
  color: #86b300;
}
.DEMONIO, .demonio
{
  color: #660066;
}
.dragon, .DRAGON
{
  color: #cc3300;
}
.fuego
{
  color: #ff6600;
}
.misiles
{
  color: #8c15b7;
}
.hielo
{
  color: #00ccff;
}
.brillo
{
  color: white;
}
.fuerza
{
  color: #4d2600;
}
.sigiloso
{
  color: #666699;
}
